<!doctype html>
{% load staticfiles %}
{% if GOOGLE_ANALYTICS_PROPERTY_ID %}
    {% include "blog/ga.html" %}
{% endif %}


<html>
    <head>
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style/layout_style.css' %}" /> 
        <link rel="shortcut icon" href="{% static 'blog/images/icon.png' %}" />
        <title>{% block title %} AFAnt's Portfolio {% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" />
        <script src ="//code.jquery.com/jquery-2.2.4.min.js"> </script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/1.7.1/showdown.js"></script>
       


    <!-- CSS(BootStrap) -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../home">
                    <!-- AF -> AutoFocus & A Free -->
                        <span class="str_af">AF</span><span class="str_ant">ANT</span>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="../home"> HOME<span class="sr-only">(current)</span></a></li>
                        <li><a href="../info">INFO</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PORTFOLIO <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="../portfolio">PROGRAMING</a></li>
                                <li><a href="../video">VIDEO</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="../contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </head>
    <body>
        {% block content %}

        {% endblock %}

        <footer class="footer"> 
            wh9721@gmail.com<br>
            AFANT &copy; 2017
        </footer>
        
    </body>
</html>


