<!-- blog/portfolio.html -->

{% extends "blog/layout.html" %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style/portfolio_style.css' %}" />

<script>
    function md_to_html(data){
        var md = new Array();
        md = data.split('<br />');
        for(i=0; i<md.length; i++){
            console.log(md[i]);
            var converter = new showdown.Converter(),
                text = md[i],
                html = converter.makeHtml(text);
                $('.md').append(html);
        }
    }
    /* ------------------------------------------------- */

    function dev_rm(){
        $('body').find(".layer").remove();
        $('body').find(".detail_view").remove();
    }

    function dev_tag(data, link){
        console.log(data);
        dev_rm();
        $('.content').append('<div class="detail_view container"><div class="test"><input type="image" src="{% static "blog/images/close.png" %}"'+
        ' onclick="javascript:dev_rm(); " class="button_img" /><h5><a href="'+link+'" target="_blank">GitHub</a></h5></div> <div class="md"></div>  </div>');
        md_to_html(data);
    }
</script>

<style>

</style>

<div class="content">
    <div class="container">
            {% for dev in dev_list %}
            <div class="col-6 col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card card_margin" style="width: 20rem;">
                    <div class="card-block">
                        <h5 class="card-title">
                            <a href="javascript:;" onclick='dev_tag("{{ dev.dev_content | linebreaksbr }}","{{ dev.dev_git_link }}");' > 
                                {{ dev.dev_title }}
                            </a>
                        </h5>
                        <p class="card-text">{{ dev.dev_summary }}</p>
                    </div>
                </div>
            </div>
            {% endfor %} 
    </div>
</div>

{% endblock %}
