body {
    padding-top: 70px;
            
    }

.str_af {
    font-size: 120%;
    font-weight: bolder;
}
.str_ant{
    font-size: 100%;
    font-weight: lighter;
}
.container-fluid {
    margin: auto;
}
footer{
    padding: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}