
html, body{
    background: url("../images/video_1.jpg") no-repeat center 50% fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    background-color: #000000;
    }